.logOutButton {
    width: 258px;
    height: 66px;
    padding: 12px;
    display: flex;
    margin: 12px 0;
    cursor: pointer;
    border: none;
    align-items: center;
    background-color: #000;
    text-align: left;
    border-radius: 33px;
    transition: background-color 0.2s;
}
.logOutButton:hover {
    background-color: rgba(231,233,234, 0.1);
}
.logOutUserImage {
    display: flex;
    align-items: center;
}
.logOutUserImage img {
    width: 40px;
    border-radius: 50%;
}
.logOutUserName {
    margin: 0 12px;
}
.logOutUserName > div:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.logOutUserName > div:last-child {
    color: #71767b;
}